.categories {
    padding: 20px 0;
}

.filters-and-search {
    display: flex;
    justify-content: space-between;
    /* Mengatur jarak antara filters dan search */
    align-items: center;
    /* Menyelaraskan vertikal */
}

.filters {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.filters li {
    color: #ffffff;
    /* Menggunakan warna putih untuk teks */
    padding: 10px 25px;
    transition: 0.3s;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.filters li:hover,
.filters li.active {
    background-color: var(--primary);
    /* Mengganti background saat hover atau aktif */
}

.search {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 300px;
    /* Atur lebar search bar sesuai kebutuhan */
    height: 50px;
    /* Tinggi search bar untuk menyesuaikan ukuran */
    background: var(--secondary);
    /* Background putih agar terlihat jelas */
    border-radius: 10px;
    /* Membuat sudut search bar bulat */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Menambahkan bayangan untuk efek depth */
    padding: 0 10px;
    /* Padding horizontal */
}

.search i {
    color: #ffffff;
    /* Warna ikon */
}

.search input {
    outline: none;
    color: white;
    border: none;
    background: transparent;
    font-size: 1.2rem;
    width: 100%;
    /* Membuat input memenuhi ruang yang ada */
}

.search input::placeholder {
    color: #ffffff;
    /* Warna placeholder */
}

@media (max-width: 768px) {
   .filters-and-search {
    display: block;
   }

   .filters{
    margin-bottom: 5%;
   }
}