main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bgColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    transition: 0.3s;
}

.banner{
    position: relative;
    width: 80%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--bgColor);
    transition: 1s;    
}