.sideMenu {
    width: 20%;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius: 0 20px 20px 0;
    background: var(--secondary);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transition: width 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.sideMenu .logo {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sideMenu .nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    flex: 1; /* Menggunakan flex untuk mengisi ruang yang tersedia */
}

.sideMenu .nav li {
    margin: 10px 0; /* Menambah jarak vertikal antar item */
}

.sideMenu .nav li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    padding: 10px 15px;
    width: 100%;
    transition: background 0.3s, color 0.3s;
}

.sideMenu .nav li a:hover,
.sideMenu .nav li a.active {
    background: var(--primary);
    color: #fff;
}

.sideMenu .social {
    margin-top: auto; /* Menempatkan elemen sosial di bagian bawah */
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.sideMenu .social li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.sideMenu .social li a:hover {
    color: var(--primary);
}

.sideMenu .social li a .bi-share {
    padding: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userItems .avatar .user {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userItems .avatar .user span,
.userItems .avatar .user a {
    color: #fff;
    font-size: 0.8rem;
    transition: color 0.3s;
}

.userItems .avatar .user a:hover {
    text-decoration: underline;
}

.sideMenu.active {
    width: 7%;
    transition: width 0.3s;
    align-items: center;
}

.sideMenu.active .logo {
    font-size: 1.5em;
    gap: 0;
}

.sideMenu.active .nav {
    display: none;
}

.sideMenu.active .social {
    flex-direction: column;
    gap: 10px;
}
