/* Kustomisasi scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--dark); /* Warna latar belakang track scrollbar */
}

::-webkit-scrollbar-thumb {
    background: var(--secondary); /* Warna thumb scrollbar */
    border-radius: 6px; /* Radius sudut thumb scrollbar */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--white); /* Warna thumb saat hover */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #a688fa;
    --secondary: #46424f;
    --bgColor: #1a1625;
    --white: #ffffff;
    --dark: #2f2b3a;
}

h1, h2, h3, h4, p {
    color: #ffffff;
}

body {
    position: relative;
    background: var(--bgColor);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
