* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #7a5af5;
    --secondary: #3f3f3f;
    --bgColor: #121212;
}

h1, h2, h3, h4, p {
    color: #ffffff;
}

body {
    position: relative;
    background: var(--bgColor);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}